@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #fcf3f6;
}

h1{
  color: #2c292b;
  font-size: 2.5 rem
}

h2 {
  font-size: 2.5 rem;
  color: #2c292b;
}



